@import '../../config/config';

.sidebar-row {
	@include flex-center;
	padding: $primary-space;
	cursor: pointer;

	&:hover {
		background-color: lightgray;
		border-radius: $primary-space;
	}
	> h4 {
		margin-left: 20px;
		font-weight: 600;
	}
	>.MuiSvgIcon-root{
		font-size: xx-large;
		color: $facebook-blue;
	}
}
